* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font-family: var(--font-family-reg);
  color: var(--color-black);
  background: var(--color-white);
  font-weight: 400;
  line-height: 1.6;
  width: 100vw;
  font-size: 16px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
}
h4 {
  font-family: var(--font-family-mono);
  color: var(--color-gray-med);
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  transition: color 0.3s;
}
a:hover {
  color: var(--color-black);
}

p {
  text-indent: 1em;
}
p + p {
  margin-top: 0.5em;
}

blockquote {
  font-size: 1.4em;
  font-style: italic;
}

/* Basic page elements */
#wrapper {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.essay {
  /*height: 100vh;
  overflow-y: scroll;*/
  padding: calc( var(--grid-unit) * 3 );
  max-width: 500px;
  width: calc( 100vw - 100vh );
  min-width: 300px;
}

.description {
  line-height: 1.6;
  margin-top: calc( var(--grid-unit) * 5 );
}

.description-source {
  font-family: var(--font-family-mono);
  color: var(--color-gray-med);
  font-size: 12px;
  letter-spacing: -0.03em;
  text-decoration: none !important;
}

.sourceList {
  font-family: var(--font-family-mono);
  color: var(--color-gray-med);
  font-size: 9px;
  margin: calc( var(--grid-unit) * 2 ) 0;
  line-height: 11px;
  margin-top: calc( var(--grid-unit) * 6 );
}
.sourceList li {
  margin-bottom: 10px;
  text-indent: -16px;
  margin-left: 16px;
}
.sourceList a {
  text-decoration: none;
  display: block;
}
.sourceList li .sourceList-pseudoLink {
  word-wrap: break-word;
  white-space: pre-wrap;
  text-decoration: underline;
}

/* mobile adjustments */
@media (max-width: 120vh ) {
  #wrapper {
    height: auto;
    overflow-y: initial;
  }
  .essay {
    width: 100vw;
    max-width: initial;
    height: initial;
    overflow: none;
    max-width: initial;
    min-width: initial;
  }
}


