* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font-family: var(--font-family-reg);
  color: var(--color-black);
  background: var(--color-white);
  font-weight: 400;
  line-height: 1.6;
  width: 100vw;
  font-size: 16px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}
h4 {
  font-family: var(--font-family-mono);
  color: var(--color-gray-med);
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  transition: color 0.3s;
}
a:hover {
  color: var(--color-black);
}

p {
  text-indent: 1em;
}
p + p {
  margin-top: 0.3em;
}


/* Basic page elements */
#wrapper {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.essay {
  /*height: 100vh;
  overflow-y: scroll;*/
  padding: calc( var(--grid-unit) * 3 );
  max-width: 500px;
  width: calc( 100vw - 100vh );
}

.sourceList {
  font-family: var(--font-family-mono);
  color: var(--color-gray-med);
  font-size: 8px;
  margin: calc( var(--grid-unit) * 2 ) 0;
  line-height: 10px;
  margin-top: calc( var(--grid-unit) * 6 );
}
.sourceList li {
  margin-bottom: 10px;
  text-indent: -16px;
  margin-left: 16px;
}
.sourceList li a {
  word-wrap: break-word;
  white-space: pre-wrap;
}

#toggleInfo {
  display: none;
}


/* mobile adjustments */
@media (max-width: calc( 140vh) ) {

  #toggleInfo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
  }

  .essay {
    position: fixed;
    top: 0;
    left: -500px;
    bottom: 0;
    width: 500px;
    transition: all 0.5s;
    background: var(--color-white);
    z-index: 100;
    overflow-y: scroll;
  }

  .--isShowingInfo .essay {
    left: 0px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.1);
  }

  #wrapper {
    transition: background 0.5s;
  }
  .--isShowingInfo #wrapper {
    background: #EEE;
  }

}



