.MapEqualizerToggle {
  display: flex;
  background: var(--color-white);
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  padding: 2px;
  font-size: 13px;
}

.MapEqualizerToggle li {
  display: block;
  border-radius: 3px;
  padding: 2px 6px;
  cursor: pointer;
  color: var(--color-gray-med);
  text-align: center;
}

.MapEqualizerToggle li.--isToggled {
  background: var(--color-highlight);
  color: var(--color-white);
}


/* mobile adjustments */
@media (max-width: 460px ) {

  .MapEqualizerToggle {
    top: 42px;
    width: 80vw;
    font-size: 12px;
  }
  .MapEqualizerToggle li {
    flex: 1;
  }

}
